{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome, {{user.first_name.title|default:'User'}}</h1>
    <p class="lead">
        This is <b>Time Management System</b> build with django & React which is
        free and user friendly, feel free to use this app to manage your time.
    </p>
    <hr class="my-4">
    <p class="lead">
        {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
        {% endif %}
    </p>
</div>

{% endblock content %}